<html>
    <head>
        {% load static %}
   <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
  <table class="mytab">
     <thead>
        <tr> 
             <th>Sno</th>
             <th>Name</th>
             <th>City</th>
        </tr>
     </thead>
     <tbody>
        <form method="post">
            {% crsf_token %}
        <table>
            {{form}}
            <tr>
                <td colspan="2" style="text-align:center"> 
                    <button type="submit" style="border:none;color:white;background-color:black;">
                        Add Person</button>
            </tr>
        </table>
        </form>
        {% for x in people %}
        <tr>
            <td>{{x.sno}}</td>
            <td>{{x.name}}</td>
            <td>{{x.city}}</td>
        </tr>
        {% endfor %}
     </tbody>
  </table>
</body>
</html>