<html>
    <head>
        {% load static %}
   <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
  <table class="mytab">
     <thead>
        <tr> 
             <th>Sno</th>
             <th>Name</th>
             <th>City</th>
        </tr>
     </thead>
     <tbody>
        {% for x in people %}
        <tr>
            <td>{{x.sno}}</td>
            <td>{{x.name}}</td>
            <td>{{x.city}}</td>
        </tr>
        {% endfor %}
     </tbody>
  </table>
</body>
</html>